@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.app {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  transition: all .7s;
  background-color: #090d16;
  color: #fff;
  overflow: hidden;
  filter:blur(10px);
}


/*-----------Section AboutMe--------------*/




/*-----------Section Proyects--------------*/

